@import 'tailwindcss';

@theme {
  --font-sans: Inter, Roboto, Helvetica, Arial, sans-serif;

  --color-neutral-50: #f4f4f4;
  --color-neutral-100: #efefef;
  --color-neutral-200: #d2d2d2;
  --color-neutral-300: #b5b5b5;
  --color-neutral-400: #989898;
  --color-neutral-500: #7e7e7e;
  --color-neutral-600: #646464;
  --color-neutral-700: #4a4a4a;
  --color-neutral-800: #343434;
  --color-neutral-900: #1e1e1e;

  --color-white: #ffffff;
  --color-blue: #0088ff;
  --color-bg-primary: #f9f9f9;

  --color-lead-50: #f2c7ff;
  --color-lead-100: #cf8bf9;
  --color-lead-200: #b264fd;

  --color-info-50: #82d0ff;
  --color-info-100: #5f98ff;
  --color-info-200: #1865d5;

  --color-success-50: #d4f5d0;
  --color-success-100: #85e980;
  --color-success-200: #4d9a44;
  
  --color-skeleton: #E4E4E4;

  --rounded-xs: 2px;
  --rounded-sm: 4px;
  --rounded-md: 8px;
  --rounded-lg: 12px;
  --rounded-xl: 16px;
  --rounded-2xl: 20px;
  --rounded-3xl: 24px;
}

@layer base {
  body {
    @apply antialiased;

    line-height: 1.4;
    color: var(--color-neutral-900);
    background-color: var(--color-neutral-100);
  }
}